@import "../../../../app/styles/variables";

.bookmark-item {
  position: relative;
  margin-left: 17px;
}

.bookmark-item::after {
  position: absolute;
  content: "";
  left: -17px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: $textColor;
  border-right: solid;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

